* { box-sizing:border-box }
*:before, *:after { box-sizing:inherit }

/* Basic styles */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #f7f7f7;
}

a { text-decoration: none }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    margin-top: 10rem;
    text-align: center;
}
/* Header styles */
header {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 7rem;
    padding: 0 15px;
    position: fixed;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0;
    width: 100%
}

.site-logo {
    transition: color 200ms cubic-bezier(.55, 0, .1, 1);
    color: #30acff;
    font-size: 3rem;
}

.ok-header__logo:hover {color: #546edb}

/* okayNav styles */
body.okayNav-loaded {
  overflow-x: hidden;
}
.okayNav:not(.loaded) {
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.okayNav ul {
  /* We want two navigations - one hidden and one visible */
  float: left;
}
.okayNav a {
  /* Links general styling */
  color: #2e2e33;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.okayNav__nav--visible {
  overflow: hidden;
  white-space: nowrap;
}
.okayNav__nav--visible li {
  display: inline-block;
}
.okayNav__nav--visible a {
  /* Link styling for the visible part of the nav */
  display: block;
  transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
  padding: 15px 15px;
}
.okayNav__nav--visible a:hover {
  color: #546edb;
}
/* Link styling for the off-screen part of the nav */
.okayNav__nav--invisible {
  position: fixed;
  top: 70px;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}
.okayNav__nav--invisible a {
  background: #fff;
  width: 240px;
  display: block;
  padding: 15px;
}
.okayNav__nav--invisible.nav-left {
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.okayNav__nav--invisible.nav-right {
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.okayNav__nav--invisible.transition-enabled {
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
}
.okayNav__nav--invisible.nav-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/* Kebab icon */
.okayNav__menu-toggle {
  position: relative;
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  width: 40px;
  height: 20px;
  float: left;
  z-index: 1;
  top: 15px;
}
.okayNav__menu-toggle.okay-invisible {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.okayNav__menu-toggle span {
  display: block;
  position: absolute;
  margin: auto;
  height: 4px;
  width: 4px;
  background: #2e2e33;
  border-radius: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
}
.okayNav__menu-toggle span:nth-child(1) {
  top: 0;
}
.okayNav__menu-toggle span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.okayNav__menu-toggle span:nth-child(3) {
  bottom: 0;
}
.okayNav__menu-toggle.icon--active {
  /* Kebab icon when off-screen nav is open */
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.okayNav__menu-toggle.icon--active span {
  background: #546edb;
}











.indice{
  text-align: center;
  font-family:'Poppins', sans-serif;
  font:bold;
  font-size:20px;
}




.navbar-brand{
  color: #fff;
}

@media screen {
  body {
    background-color: white;
  }

  li{
	  margin-top: 10px;
	  margin-bottom: 50px;
	  text-align: center;
  }

  .links{
    text-decoration: none;
  }



  body{
    float: left;
    padding: 1px;
    margin-left: 1px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }

  .main-section{
    margin-top: -30px;
    margin-left: 40px;
    margin-bottom: 188px;
    width: 650px;  
  }

  img{
    height: 120px;
    width: 120px;
    margin-top: 50px;
  }

  p{
    text-align: justify;
    font-family:'Poppins', sans-serif;
    font:bold;
  }
  
  poster{
    height: 300px;
    width:1000px ;
  }

  .imauni{
    height: 250px;
    width:250px ;
    float:right;
    margin-right:-350px;
    margin-top:-160px;
    border-radius: 200px;
  }

  .imauni:hover {
    -webkit-transform:scale(1.5);transform:scale(1.5);
  }

  .imauni {
    overflow:hidden;
  }

  .uni{
    text-align:justify;
    margin-top:50px;
    font-size:35px;
    font-family: 'Roboto Condensed', sans-serif;
    font: bold; 
  }

  code{
    font-family: 'Roboto Condensed', sans-serif;  
    font: bold;
  }
  
  .ima2{
    height: 150px;
    width:150px ;
    float:right;
    margin-right:-300px;
    margin-top:-200px;
    border-radius: 200px;
  }

  .ima2:hover{
    -webkit-transform:scale(1.5);transform:scale(1.5);
  }

  .ima2{
    overflow:hidden;
  }
  
  .ima3{
    height: 150px;
      width:150px ;
    float:right;
    margin-right:-300px;
    margin-top:-144px;
    border-radius: 200px;
  }

  .ima3:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
  }

  .ima3{
    overflow:hidden;
  }

  .ima4{
    height: 150px;
      width:150px ;
    float:right;
    margin-right:-300px;
    margin-top:-144px;
    border-radius: 200px;
  }

  .ima4:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
  }

  .ima4{
    overflow: hidden;
  }
  
  .ima5{
    height: 150px;
    width:150px ;
    float:right;
    margin-right:-300px;
    margin-top:-180px;
    border-radius: 200px;
  }

  .ima5:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
  }

  .ima5{
    overflow:hidden;
  }

  .ima6{
    height: 250px;
    width:350px ;
    float:right;
    margin-right:-400px;
    margin-top:-370px;
    border-radius: 10px;
  }

  .ima6:hover{
    -webkit-transform:scale(0.80);
    transform:scale(0.80);
  }

  .ima6{
    overflow:hidden;
  }

  .ima7{
    height: 250px;
    width:350px ;
    float:right;
    margin-right:-400px;
    margin-top:-300px;
    border-radius: 10px;
  }

  .ima7:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
  }

  .ima7{
    overflow:hidden;
  }    
}

a{
  text-align: justify;
  font-family:'Poppins', sans-serif;
  font:bold;
}


@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}

*{
	margin: 0;
	padding: 0;
}

i{
	margin-right: 10px;
}


.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}


@media (max-width: 991px){
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}

	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}

	.hori-selector .left{
		top: -25px;
		left: auto;
	}

	.hori-selector .right{
		bottom: -25px;
	}

	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
  
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}
