<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename=('img/Logo V2.png'))  }}" type="image/x-icon">
    <title>Noticias</title>
</head>
<body>
    Bienvenido {{Correo}} a la Wiki
    <li><a href="/inicio" class="btn">Inicio</a></li>

    <table>
        <tbody>
            {% for dato in news %}
            <tr>
                
                <h1>{{dato[1] }}</h1>

                <td><img width="100" src="{{ url_for('img', imagen = dato[2]) }}" alt=""></td>
                <td><img width="100" src="{{ url_for('img', imagen = dato[3]) }}" alt=""></td>
                <td><img width="100" src="{{ url_for('img', imagen = dato[4]) }}" alt=""></td>
                <td><img width="100" src="{{ url_for('img', imagen = dato[5]) }}" alt=""></td>

                <td>{{dato[6] }}</td>

                <td><a href="/news/{{dato[0]}}/{{dato[1]}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>