<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción</title>
</head>
<body>

    hola {{ Correo }} a Centauri
    <li><a href="/inicio">Inicio</a></li>

    {% for dato in informacion %}

    <br>
    <img width="200" src="{{ url_for('img', imagen = dato[1]) }}" alt="">
    <br>
    {{dato[2] }}
    <br>
    {{dato[3] }}
    <br>
    {{dato[4] }}
    <br>
    {{dato[5] }}
    <br>
    {{dato[6] }}
    <td><a href="/interes/{{ dato[0] }}/{{ Correo }}">Me gusta</a></td>

    {% endfor %}
</body>
</html>